body {
  background-color: #2ec4b6;
  font-family: 'Montserrat', sans-serif;
  color: #e4e4e4;
}
h1 {
  text-align: center;
  font-size: 4em;
  font-weight: 800;
  color: azure;

}
h2 {
  font-size: 56px;
  color: azure;
}
p {
  font-size: 24px;
  color: azure;
}
.top {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
#main {
  width: 60%;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 70px; */
}
.logo {
  display: block;
  margin: 0 auto;
}
div .menu {
  display: block;
  margin: 0 auto;
}
nav {
  margin-left: 0;
}
.menunav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 30px;
  padding-inline-start: 0;
}
.menunav li {
  margin-right: 75px;
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .1em;
}
a {
  text-decoration: none;
  color: azure;
}
a:hover {
  text-decoration: none;
  color: #71787e;
}
.searchbar {
  display: block;
  margin: 0 0 0 295px;
  width: 65%;
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: inset 1px 1px 2px 0 rgb(0 0 0 / 10%);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: rgb(223, 222, 222);
}
#form {
  width: 80%;
  display: block;
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin: 0 50px; */
}
/* Search bar */
.submit {
  padding: 10px;
  margin-top: 30px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #0081a7;
  border: 1px solid #0081a7;
  box-shadow: 1px 3px 6px 2px rgb(0 0 0 / 10%);
  color: azure;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
