/* =Genericons, thanks to FontSquirrel.com for conversion!
-------------------------------------------------------------- */
@font-face {
    font-family: 'Genericons';
    src: url('../fonts/genericons-regular-webfont.eot');
    src: url('../fonts/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/genericons-regular-webfont.woff') format('woff'),
         url('../fonts/genericons-regular-webfont.ttf') format('truetype'),
         url('../fonts/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



.menusocial li a::before{display:inline-block;font-family:'Genericons';font-size:30px;font-style:normal;font-weight:400;font-variant:normal;line-height:26px;margin-top:-3px;vertical-align:middle;-webkit-font-smoothing:antialiased}
.menusocial li a::before{padding:0 10px 0 0}
.menusocial li a:hover::before{opacity:.8; color:#ff0000 !important;}
.menusocial li a[href*="codepen.io"]::before{content:'\f216';color:#000}
.menusocial li a[href*="digg.com"]::before{content:'\f221';color:#000}
.menusocial li a[href*="dribbble.com"]::before{content:'\f201';color:#000}
.menusocial li a[href*="dropbox.com"]::before{content:'\f225';color:#000}
.menusocial li a[href*="facebook.com"]::before{content:'\f203';color:#000}
.menusocial li a[href*="flickr.com"]::before{content:'\f211';color:#000}
.menusocial li a[href*="plus.google.com"]::before{content:'\f206';color:#000}
.menusocial li a[href*="github.com"]::before{content:'\f200';color:#000}
.menusocial li a[href*="instagram.com"]::before{content:'\f215';color:#000}
.menusocial li a[href*="linkedin.com"]::before{content:'\f208';color:#000}
.menusocial li a[href*="pinterest.com"]::before{content:'\f210';color:#000}
.menusocial li a[href*="polldaddy.com"]::before{content:'\f217';color:#000}
.menusocial li a[href*="getpocket.com"]::before{content:'\f224';color:#000}
.menusocial li a[href*="reddit.com"]::before{content:'\f222';color:#000}
.menusocial li a[href*="skype.com"]::before,.menusocial li a[href*="skype:"]::before{content:'\f220';color:#000}
.menusocial li a[href*="stumbleupon.com"]::before{content:'\f223';color:#000}
.menusocial li a[href*="tumblr.com"]::before{content:'\f214';color:#000}
.menusocial li a[href*="twitter.com"]::before{content:'\f202';color:#000}
.menusocial li a[href*="vimeo.com"]::before{content:'\f212';color:#000}
.menusocial li a[href*="wordpress.org"]::before,.menusocial li a[href*="wordpress.com"]::before{content:'\f205';color:#000}
.menusocial li a[href*="youtube.com"]::before{content:'\f213';color:#000}