body {
  background-color: #f0f0f0;
  color: #37b4a8;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 0;
  padding-left: 15vw;
  padding-right: 15vw;
}
.top-nav li {
  display: block;
}
.logo {
  width: 15%;
}
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.top-div {
  display: flex;
}
.top-nav li {
  display: inline-block;
  padding: 0 5px;
}
.logo {
  width: 15%;
  filter: drop-shadow(0.1rem 0.6rem 0.75rem rgb(207, 207, 207));
}
.logo-top {
  text-align: center;
}
img {
  max-width: 100%;
  opacity: 1;
}
.img-deco {
  filter: brightness(0.6) drop-shadow(0.1rem 0.6rem 0.75rem rgb(207, 207, 207));
}

.about-me {
  display: flex;
  align-items: center;
  padding: 5vw 0;
}

.goi-img {
  width: 20%;
  border-radius: 50%;
  display: block;
  margin: 30px auto;
}
.my-words {
  font-size: 2vw;
  margin: auto 15vw auto 2vw;
}
ul a {
  color: #37b4a8;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-size: clamp(0.6rem, 1.5vw, 1.5vw);
}
.top-nav a.current {
  font-weight: bold;
}
.tasanee {
  margin-bottom: 20px;
}
h1 {
  font-family: "Bebas Neue", cursive;
  font-size: clamp(2rem, 10vw, 10vw);
  color: #37b4a8;
  filter: drop-shadow(0.1rem 0.6rem 0.75rem rgb(207, 207, 207));
}
h2 {
  font-family: "Bebas Neue", cursive;
  font-size: clamp(0.8rem, 5vw, 6vw);
  color: #59cfc3;
}
h3 {
  font-size: clamp(0.8rem, 2vw, 3vw);
  color: #59cfc3;
}
h4 {
  color: #7d8f8b;
}
h5 {
  color: #37b4a8;
  font-size: 0.7rem;
  line-height: 1rem;
  margin-bottom: 3%;
}
a {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.7rem, 1vw, 1.2vw);
  color: #59cfc3;
  text-decoration: none;
}
p {
  font-size: clamp(0.7rem, 1vw, 1.2vw);
  padding-top: 15px;
  padding-bottom: 15px;
  color: #37b4a8;
  line-height: 1.2rem;
}

/* .video-mograph {
  margin: 10px;
} */

/* Contact */
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.coffee {
  font-size: 1.2em;
  margin: 20px 0;
}
.menusocial {
  text-align: center;
  margin-bottom: 50px;
}
.menusocial li {
  list-style: none;
  display: inline-block;
  justify-content: space-between;
}
.menusocial a {
  border-bottom: none;
}
.splide {
  margin: 50px 0;
}
.glightbox-clean .gslide-title {
  color: #37b4a8 !important;
}

.glightbox-clean .gslide-desc {
  color: #595a5c;
}
.glightbox-clean .gclose path,
.glightbox-clean .gnext path,
.glightbox-clean .gprev path {
  fill: #37b4a8 !important;
  width: 2.5em;
  height: 2.5em;
  transition: fill 0.2s linear;
}
.grid {
  margin-bottom: 50px;
}
.splide {
  margin: 20px 0;
}
footer {
  padding-top: 40px;
}

/* responsive-site */

.responsive-desktop,
.responsive-mobile {
  filter: drop-shadow(0 0 0.75rem rgb(147, 162, 163));
}
.responsive-img img {
  margin: 15px 0;
}
.sections-img {
  margin-bottom: 20px;
}
.back a {
  font-size: 16px;
  color: #37b4a8;
  padding-left: 90%;
  text-decoration: none;
  padding-bottom: 50px;
}
.back {
  margin-top: 50px;
}
.flipbook {
  width: 100%;
  height: 35vh;
  margin: 40px 0;
  filter: drop-shadow(0 0 0.75rem rgb(226, 226, 226));
}
.arrow {
  border: solid rgb(141, 141, 141);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 2.5em;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 2em;
}

.project-card {
  position: relative;
}
.project-img {
  min-width: 50%;
  height: auto;
  /* position: absolute;
  top: 0;
  left: 0; */
  object-fit: cover;
  transition: 0.5s;
}
.project-content {
  /* padding: 10% 5% 25% 5%; */
  /* position: relative; */
  position: absolute;
  top: 0;
  left: 0;
  padding: 10% 5% 0;
  color: rgb(214, 250, 245);
  transition: 0.5s;
  opacity: 1;
}
.project-title {
  color: #ffffff;
  text-align: left;
  /* filter: drop-shadow(0.1rem 0.6rem 0.75rem rgb(68, 68, 68)); */
  letter-spacing: 3px;
}
.sub-title {
  font-size: 2rem;
  text-align: center;
  color: #37b4a8;
}
.project-title-work {
  /* margin-bottom: 50px; */
  font-size: 3rem;
}
.project-info {
  margin-bottom: 20px;
  text-align: left;
  font-size: 0.7rem;
  color: #ffffff;
}
.project-btn {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #f0f0f0;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
  margin: 0 auto 0 0;
  display: block;
}

/* Design Section Images */
.design-img {
  width: 100%;
  filter: brightness(0.95) drop-shadow(0.9rem 0.9rem 1.75rem rgb(207, 207, 207));
}
.design-part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
span {
  font-weight: 800;
  font-style: italic;
}

/* Back button */
.back-button {
  text-align: right;
  color: #37b4a8;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-size: clamp(0.6rem, 1.5vw, 1.5vw);
}
.back-cheron {
  width: 3%;
}
.sub-back-btn {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.hide-info {
  opacity: 0;
}
.mobile-app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
}

/* mobile-app */

.mobile-poster {
  position: relative;
}
.mobile-img {
  width: 100%;
  height: auto;
  /* position: absolute;
  top: 0;
  left: 0; */
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.95) drop-shadow(0.9rem 0.9rem 1.75rem rgb(207, 207, 207));
}
.mobile-content {
  /* position: relative; */
  top: 470px;
  right: 0;
  padding: 0 0 10px 170px;
  font-weight: 400;
}
.mobile-text {
  color: #dffffc;
  font-size: 0.7rem;
  background-color: #ff8861;
  border-radius: 50px;
  text-align: center;
}

@media screen and (min-width: 567px) {
  /* body {
    padding-left: 15vw;
    padding-right: 15vw;
  } */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
  }
  .logo-top {
    text-align: left;
  }
  .top-nav ul {
    display: flex;
    justify-content: space-between;
  }
  .hero-img:hover {
    transform: scale(1.005);
    transition: 0.5s;
    filter: brightness(0.95);
  }
  h3 {
    padding-left: 5px;
    padding-bottom: 45px;
    font-weight: 600;
  }
  h5 {
    font-size: 1.2rem;
    line-height: 180%;
  }
  hr {
    height: 1px;
    background-color: #ccc;
    border: none;
    margin-top: -30px;
    margin-bottom: 30px;
  }
  a:hover {
    font-weight: bold;
    color: #20b2aa;
  }
  ul a {
    margin: auto 0 auto 20px;
  }
  ul a:hover {
    font-weight: bold;
    color: #20b2aa;
  }
  main {
    margin-top: 50px;
  }
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    align-items: stretch;
    margin-bottom: 50px;
  }
  .responsive-img {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 45px;
    align-items: start;
  }
  .back a:hover {
    font-weight: 600;
  }
  /* .flipbook {
    height: 65vh;
  } */
  .project-content {
    padding: 10% 5% 0 5%;
    opacity: 0;
  }
  .project-img {
    min-width: 100%;
    height: auto;
  }
  /* .project-title-work {
    margin: 105px;
  } */
  .project-info {
    /* visibility: visible; */
    /* margin: 0 10px; */
    margin-bottom: 20px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
    filter: drop-shadow(0.3rem 0.6rem 0.75rem rgb(98, 117, 116));
  }
  .project-card:hover .project-img {
    filter: blur(5px) brightness(0.5);
    /* transform: rotateY(180deg); */
    /* transform: translateY(-5px); */
    transform: scale(1.02);
  }
  .project-card:hover .project-content {
    opacity: 1;
  }
  .project-btn:hover {
    background: #37b4a8;
  }
  .project-btn:hover a {
    color: #ffffff;
  }
  .project-btn {
    margin: 12% 0;
  }
  .img-deco,
  app-img-deco {
    filter: brightness(0.95) drop-shadow(1rem 1.2rem 0.5rem rgb(207, 207, 207));
  }
  .img-deco:hover {
    transform: scale(1.01);
  }
  .back-button:hover {
    font-weight: bold;
    color: #20b2aa;
  }
  .sections-img {
    margin-bottom: 0;
  }
  .mobile-app {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 80px;
    align-items: center;
  }
  .mobile-content {
    /* position: relative; */
    top: 470px;
    right: 0;
    padding: 0 0 20px 700px;
    font-weight: 900;
  }
  .mobile-text {
    font-size: 1rem;
  }
  .mobile-img {
    border-radius: 25px;
    filter: drop-shadow(0 0 0.75rem rgb(147, 162, 163));
  }
}
