body {
  background-color: #f0f0f0;
  color: #37b4a8;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 0;
  padding-left: 5vw;
  padding-right: 5vw;
}

.top-nav li {
  display: block;
  /* justify-content: space-between; */
}
.logo {
  width: 15%;
}
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}
.top-div {
  display: flex;
}
.top-nav li {
  display: inline-block;
  padding: 0 5px;
}
.logo {
  width: 15%;
  filter: drop-shadow(0.1rem 0.6rem 0.75rem rgb(207, 207, 207));
}
.logo-top {
  text-align: center;
}
img {
  max-width: 100%;
  width: 100%;
  opacity: 1;
}
/* img:hover {
  opacity: 0.85;
} */
.img-deco {
  filter: drop-shadow(0.1rem 0.6rem 0.75rem rgb(207, 207, 207));
}

.about-me {
  display: flex;
  align-items: center;
  padding: 5vw 0;
}

.goi-img {
  width: 20%;
  border-radius: 50%;
  display: block;
  margin: 30px auto;
}
.my-words {
  font-size: 2vw;
  margin: auto 15vw auto 2vw;
}
ul a {
  color: #37b4a8;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-size: clamp(0.6rem, 1.5vw, 1.5vw);
}
.top-nav a.current {
  font-weight: bold;
}

.main-nav {
  display: none;
}
.tasanee {
  margin-bottom: 20px;
}
h1 {
  font-family: "Bebas Neue", cursive;
  font-size: clamp(2rem, 10vw, 10vw);
  color: #37b4a8;
  /* -webkit-text-stroke: 1px #F9C750; */
  filter: drop-shadow(0.1rem 0.6rem 0.75rem rgb(207, 207, 207));
}
h4 {
  color: #37b4a8;
}
h5 {
  color: #37b4a8;
  font-size: 0.8rem;
  line-height: 150%;
  margin-bottom: 20px;
}
a {
  color: #37b4a8;
  font-size: 1em;
  /* font-weight: 600; */
  /* margin-bottom: 19px; */
  line-height: 1.4em;
}
p {
  padding-top: 15px;
  color: #26867d;
  line-height: 1.6em;
}
.video-mograph {
  margin: 10px;
}

/* Contact */
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  /* border-radius: 5px; */
  background-color: #eceeed;
  color: #e6e7e8;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 100%;
  margin-top: 6px;
  /* padding: 20px; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.coffee {
  font-size: 1.2em;
  margin: 20px 0;
}
.menusocial {
  text-align: center;
  margin-bottom: 50px;
}
.menusocial li {
  list-style: none;
  display: inline-block;
}
.menusocial a {
  border-bottom: none;
}
.splide {
  margin: 50px 0;
}
.glightbox-clean .gslide-title {
  color: #37b4a8 !important;
}

.glightbox-clean .gslide-desc {
  color: #595a5c;
}
.glightbox-clean .gclose path,
.glightbox-clean .gnext path,
.glightbox-clean .gprev path {
  fill: #37b4a8 !important;
  width: 2.5em;
  height: 2.5em;
  transition: fill 0.2s linear;
}
.grid {
  margin-bottom: 50px;
}
.splide {
  margin: 20px 0;
}
footer {
  padding-top: 20px;
}

/* responsive-site */

.responsive-bg {
  background-image: url(../images/responsive-bg.jpg);
}
.responsive-img {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 45px;
  align-items: center;
}
.responsive-desktop,
.responsive-mobile {
  filter: drop-shadow(0 0 0.75rem rgb(147, 162, 163));
}
.responsive-img {
  margin: 50px 0;
}
.back a {
  font-size: 16px;
  color: #37b4a8;
  padding-left: 90%;
  text-decoration: none;
  padding-bottom: 50px;
}
.flipbook {
  width: 100%;
  height: 35vh;
  margin: 40px 0;
  filter: drop-shadow(0 0 0.75rem rgb(226, 226, 226));
}
.arrow {
  border: solid rgb(141, 141, 141);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media screen and (min-width: 567px) {
  body {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
  }
  .logo-top {
    text-align: left;
  }
  .top-nav ul {
    display: flex;
    justify-content: space-between;
  }
  h5 {
    font-size: 1.2rem;
    line-height: 180%;
  }

  ul a {
    margin: auto 0 auto 20px;
  }
  main {
    margin-top: 50px;
  }
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .container {
    margin-left: 75px;
    margin-right: 75px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
  }
  .back a:hover {
    font-weight: 600;
  }
  .flipbook {
    height: 65vh;
  }
}
