/* Mobile first */
* {
  color:rgb(201, 212, 212);
}
body {
  background-color: black;
}
.about {
  display: block;
}
h1, h4 {
  color: aliceblue;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}
ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
li {
  padding: 30px;
}
div {
  display: block;
  text-align: center;
}
img {
  max-width: 100%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 650px) {
  body {
    background-color: rgb(82, 90, 90);
  }
}